<head>
    <link rel="stylesheet" href="style.css" type="text/css"/>
<title>User's Page</title>
</head>
<div > 
    <h1> Hi <%= name %> </h1>
    <form action="/logout?_method=DELETE" method="POST">
       <button class="button" type="submit">Log Out</button> 
    </form>
</div>